/* @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap'); */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal; */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-family: 'SBAggroB';
    font-weight: normal;
}

/* 메인 */

hr {
    border: 1px solid #000;
}
    
main {
    background-color: #f7f7f7;
    padding: 0 120px;
}

.background-color {
    width: 100%;
    /* background-color: rgba(0, 0, 0,0.4); */
}
.main-head {
    padding: 10px;
    display: flex;
}

.main-head a {
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}

.main-head a:hover {
    text-decoration:underline;
}
.main-head :nth-child(n + 2) {
    margin-left: 5px;
}

/* 메인 바디 */
.main-body {
    display: grid;
    grid-template-columns: 47% 53%;
    justify-content: space-between;
    padding-top: 10px;
    /* height: 300vh; */
}


/* 메인 바디 왼쪽 */
.detail-left {
    margin: 10px;
}

.detail-sticky {
    width: 80%;
    margin: 0 auto;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 10px;
}

.camping-img {
    width:100%;
    border-radius: 40px;
    /* padding: 200px 300px; */
}
.shop-name-card {
    margin-bottom: 15px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.shop-name {
    font-size: 3rem;
    text-align: center;
    /* width: 100%; */

}
.shop-name-under {
    text-align: center;
    /* width: 100%; */

}
.shop-info-card {

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 25px;
}
.shop-info-text {
    display: grid;
    /* grid-template-columns: 1fr, 3fr; */
    grid-template-rows: repeat(3, 1fr);
}
.shop-info-line {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 15px;
}
.info-name {
    background-color: #fbe132;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}
.shop-info-btn-container {
    display: flex;
    gap: 30px;
}
.shop-info-btn-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 7px;
}
.shop-info-btn {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
/* .shop-info-btn img {
    height: 100%;
    width: 100%;
} */
/* 메인 바디 오른쪽 */
.detail-right {
    margin: 10px;
}
.detail-info-card {
    margin-bottom: 20px;
}
.info-card-name {
    width: 250px;
    margin-bottom: 10px;
    padding: 10px 0 5px 0;
    background-color: #fbe132;
    border-radius: 30px;
    font-size: 1.8rem;
    text-align: center;
}
.info-card-main {
    /* background-color: #fff; */
    background-image: url('../../public/img_nr/워터마크_white.png');
    background-size: cover;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    row-gap: 10px;
}
.info-icon {
    /* border: 1px solid #000; */
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.info-icon img {
    /* width: 50px; */
    height: 40px;
    margin-bottom: 10px;
    /* background-color: #ffff; */
    /* border-radius: px; */
    /* padding: 10px; */
    /* border: 1px solid #000; */
}
.site-info {
    display: flex;
}
.camp-img-box {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
}
.camp-img-box img {
    width: 100%;
}
/* 댓글,리뷰 */
.comment-review-tap {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
    /* border: 2px solid #B3DC9F; */
    border-bottom: none;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}
.comment-tap, .review-tap {
    border: none;
    padding: 10px;
    width: 100%;
}
.comment-tap {
    background-color: #B3DC9F;
    border-radius: 20px 20px 0 0;
}
/* .review-tap {
} */
.comment-form {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 0.6fr;
    grid-template-columns: 3fr 1fr;
    height: 100px;
    border-radius: 20px;
}
.comment-area {
    grid-row: span 2;
}
textarea {
    background-color: #fff;
    resize: none;
    border: 2px solid #fbe132;
    border-radius:  20px 0 0 20px;
    padding: 10px;
}
.submit-btn{
    background-color: #fbe132;
    border: none;
    border-radius:  0 20px 0 0;
}
.reset {
    background-color: #dce0e0;
    border: none;
    border-radius: 0 0 20px 0 ;
}

/* 댓글리스트 */
.comment-list {
    background-color: #fff;
    padding:  10px;
}
.co-card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
}
.co-text-box {
    width: 80%;
}
.co-nick {
    font-weight: 900;
    font-size: 1.2rem;
}
.co-at {
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0;
        /* max-width: 915px; */
    }

    .detail-sticky {
        position: static; /* sticky를 없앰 */
        width: 95%;
    }
    .detail-left {
        margin: 10px 0; /* 상하 여백 유지하고 좌우 여백 제거 */
    }
    .main-body {
        display: block; /* 그리드 레이아웃을 블록으로 변경 */
    }
    
    .detail-right {
        margin-top: 20px; /* .main-right의 상단 여백 추가 */
    }
    .shop-info-btn-container {
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        margin-top: 20px; /* 상단 여백 추가 */
    }
    .shop-info-line {
        flex-direction: column;
        align-items: center;
    }
    .shop-info-line:nth-child(2) {
        margin-bottom: 0;
    }
    .shop-info-btn-item {
        margin-top: 10px; /* 각 버튼 사이의 간격 조정 */
    }
    .shop-info-btn-container {
        margin-top: 0;
    }
    .btn-group {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* gap: 7px; */
    }
    .camp-img-box {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    }
    /* 폰트 사이즈 -------- */
     /* 메인 헤드 */
     .main-head a,p { font-size: 0.7rem; }

     /* 가게 이름 */
     .shop-name { font-size: 2rem; }
 
     /* 가게 정보 */
     .info-name { font-size: 0.8rem; }
 
     /* 댓글, 리뷰 */
     .comment-tap, .review-tap { font-size: 0.7rem; }
 
     /* 댓글 리스트 */
     .co-nick { font-size: 1rem; }
     .co-at { font-size: 0.7rem; }
}