a {
    text-decoration-line: none;
  }

  @font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}  
/* 전체 레이아웃 */
.my-page-section {
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 1000px; /* 사이드바와 콘텐츠 영역의 비율을 1:3으로 설정 */
    gap: 4rem; /* 사이드바와 콘텐츠 영역 사이의 여백 추가 */
    padding: 2rem;
}

/* 사이드바 스타일 */
.my-page-side {
    margin-left: 50px; 
    background-color: #FFD84F;
    display: flex;
    flex-direction: column;
    align-items: center; /* 요소들을 중앙 정렬 */
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(192, 192, 192);
    padding: 1rem; /* 내쪽 여백 추가 */
    width: 240px; /* 사이드바 너비 조정 */
    height: 600px;
    position: sticky; /* sticky 설정 */
    top: 100px; /* sticky의 기준이 되는 위치 */
}

/* 사이드바 내부 이미지 */
.my-page-side img {
    background-color: #fff;
    border-radius: 50%;
    width: 100px; /* 이미지 크기 조정 */
    height: 100px; /* 이미지 크기 조정 */
    margin-bottom: 1rem; /* 이미지와 텍스트 사이 여백 */
}

/* 내정보 수정 버튼 스타일 */
.my-page-button {
    width: 140px; /* 버튼 너비 조정 */
    margin: 1rem auto; /* 버튼을 중앙에 배치하고 상단 여백 추가 */
    background-color: #7EC636;
    border: none;
    border-radius: 0.5rem; /* 버튼에 모서리 둥글게 추가 */
    padding: 0.5rem; /* 버튼의 패딩 추가 */
    color: white; /* 버튼 텍스트를 흰색으로 설정 */
    cursor: pointer; /* 마우스 포인터를 변경 */
    font-size: 1rem; /* 버튼 텍스트 크기 확대 */
}

/* 버튼 호버 및 클릭 시 스타일 */
.my-page-button:hover, .my-page-button:active {
    background-color: #568825;
}

/* 사이드바 내 텍스트 스타일 */
.my-page-side p, .my-page-side a {
    /* font-size: 1.2rem; */
    /* margin: 0.5rem 0;  */
    color: #000; /* 텍스트 색상 설정 */
}

.my-page-link p {
    padding: 5px;
    color: black;
    cursor: pointer;
}
.side-ad-btn-nr {
    cursor: pointer;
}

/* 활성화된 버튼의 스타일 */
.my-page-link.active p {
    
    /* text-shadow: 3px 0px 1px #fff; */
    border: 3px solid  #7EC636;
    color: #000; /* 활성화된 버튼의 텍스트 색상 변경 */
    font-weight: bold; /* 텍스트를 굵게 */
    text-decoration: underline; /* 밑줄 추가 */
}
/* 콘텐츠 박스 스타일 */
.my-page-box {
    font-size: 1.2rem;
    width: 100%; /* 사이드바 너비에 맞춤 */
    background-color: #fff;
    border-radius: 1rem;
    /* padding: 1rem; */
    margin-top: 1rem; /* 상단 여백 추가 */
}
.mypage-stamp-list {
    height: 82%;
    overflow: scroll;
    overflow-x: hidden;
}
/* 클릭 가능한 요소 스타일 */
.mypage-stamp,
.mypage-content {
    background-color: #7EC636;
    padding: 5px;
    cursor: pointer;
    /* margin-top: 1rem; */
    /* background-color: antiquewhite; */
    /* text-decoration: underline; */
}


.mypage-stamp {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.side-email {
    font-size: 0.8rem;
}

.side-nickname {
    font-size: 1.2rem;
}

/* 콘텐츠 영역 스타일 */
.content-area {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem; /* 내부 여백 추가 */
    box-shadow: 5px 5px 5px rgb(192, 192, 192);
}

/* 게시글 섹션 스타일 */
.posts-section h1 {
    font-size: 1.5rem; /* 제목 크기 조정 */
    margin-bottom: 1rem; /* 제목 하단 여백 추가 */
}

/* 구분선 스타일 */
.posts-section hr {
    border: 0;
    border-top: 1px solid #ddd;
}

#campingzang span, #camping span {
    font-size: 1.5rem;
}
/* 콘텐츠 열 스타일 */
.content-column {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; /* 그리드 비율 설정 */
    gap: 1rem; /* 열 간의 여백 추가 */
    background: #f0f0f0;
    border-radius: 0.5rem; /* 모서리 둥글게 추가 */
    margin-bottom: 0.5rem; /* 하단 여백 추가 */
}
.content-column-other {
    display: grid;
    grid-template-columns:1fr 2fr 1fr 1fr 1fr; /* 그리드 비율 설정 */
    gap: 1rem; /* 열 간의 여백 추가 */
    background: #f0f0f0;
    border-radius: 0.5rem; /* 모서리 둥글게 추가 */
    margin-bottom: 0.5rem; /* 하단 여백 추가 */
}

/* 콘텐츠 행 스타일 */
.content-row {
    /* justify-items: center; */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    gap: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.content-row-other {
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    gap: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

/* 페이지네이션 스타일 */
.pagination {
    margin-top: 1rem; /* 상단 여백 추가 */
    display: flex;
    justify-content: center;
}

/* 모달 내 이미지 스타일 */
#userModal img {
    width: 100px;
    height: 100px;
    margin-top: 1rem;
    border-radius: 50%;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    border-radius: 1rem;
    padding: 1rem;
    height: 100%;
}

.my-page-top {
    font-size: 1.3rem;
    line-height: 50px;
}

.list-item {
    height: 50px;
}

.content-row-num {
    text-align: center;
}

.stamp-top img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.stamp-top-h2 {
    background-color: #FFD84F;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

.stamp-top {
    /* overflow: auto; */
    height: 450px;
    box-shadow: 5px 5px 10px -5px;
    margin-top: 20px;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
}

.stamp-top-item {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
    position: relative; /* Ensure relative positioning */
    display: inline-block;
}

.my-page-stamp-item {
    width: 150px;
    height: 150px;
    background-color: rgb(126, 198, 54,0.3);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 0px 1px #000;
}

.stamp-overlay {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering trick */
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    border-radius: 50%;
}

.stamp-top-item:hover .stamp-overlay {
    opacity: 1;
}

.content-bottom {
    overflow: auto;
    height: 600px;
    margin-bottom: 5rem;
}

.title-text-my {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-row-num {
    line-height: 50px;
}

.my-update-form {
    height: 300px;
}

.wish-created {
    white-space: nowrap;        /* 한 줄로 표시 */
    overflow: hidden;           /* 넘친 부분 숨기기 */
    /* text-overflow: ellipsis;     */
    width: 9.5ch;                /* 10글자 만큼의 너비로 제한 (영문 기준) */
}

.review-cam {
    text-align: center;
    white-space: nowrap;        /* 한 줄로 표시 */
    overflow: hidden;           /* 넘친 부분 숨기기 */
    text-overflow: ellipsis;    
    width: 10ch;                /* 10글자 만큼의 너비로 제한 (영문 기준) */
}

.review-title {
    width: 100%;
    text-align: center;
}

.my-page-detailmodal {
    max-width: 100%; 
    margin-bottom: 10px;
}

.my-detail-title {
    font-size: 1rem;
    
}

.mypage-btn-update {
    border: 2px solid #06AC35;
    border-radius: 5px;
}

.mypage-btn-delete {
    border: 2px solid #D82634;
    border-radius: 5px;
}

.mypage-btn-update:hover {
    background-color: #06AC35;
    color: #fff;
}

.mypage-btn-delete:hover {
    background-color: #D82634;
    color: #fff;
}


/* 에러페이지 */
.not-found {
    text-align: center;
    margin-top: 100px;
}

  .error-bg {
    background-image: url(/img/error.png);
    background-position: center;
    background-size: contain;
  }

.content-font {
    font-family: 'SBAggroL';
}  

.content-advertise {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.5fr;
}

.modal-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }
  
  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
  }
  
.detail-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
    color: #333;
    font-size: 1.8rem;
  }
  
  .detail-value {
    color: #555;
    font-size: 1.5rem;
  }
  
  .detail-note {
    color: #d9534f;
    margin-top: 20px;
    font-size: 1.1rem;
  }
  
  .modal-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }